<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hzshang.faceunlock">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <user-feature
        android:name="android.software.device_admin"
        android:required="true" />
    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManagerUser"
            android:label="@string/manager_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddUser"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/add_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LockActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:process="com.hzshang.faceunlock.Service"
            android:taskAffinity="" />
        <activity
            android:name=".test.testActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.MyAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:label="@string/admin_label"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.SensorService"
            android:enabled="true"
            android:process="com.hzshang.faceunlock.Service" />
        <service
            android:name=".service.ScanService"
            android:enabled="true"
            android:process="com.hzshang.faceunlock.Service" />
        <service
            android:name=".camera.TakePicture"
            android:enabled="true"
            android:process="com.hzshang.faceunlock.Service" />
        <service
            android:name=".service.ManagerService"
            android:enabled="true"
            android:exported="true"
            android:process="com.hzshang.faceunlock.Service" />

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.LockService"
            android:enabled="true"
            android:exported="true"
            android:process="com.hzshang.faceunlock.Service"/>
    </application>

</manifest>